<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/images/banner3.jpg" />
      <div class="container">
        <div class="carousel-caption text-left">
          <h1>Donco Distributing, LLC</h1>
          <p>Family owned and operated retail and wholesale distributing company that provides product solutions for consumers and vendors alike.</p>
          <p><a class="btn btn-lg btn-primary" href="/about" role="button">Learn more</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
