<!-- Marketing messaging and featurettes
  ================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-4">
      <img src="./images/icons/market_research.png" alt="Market Research" height="140" width="140"/>
      <h2>Market Research</h2>
      <p>Using the latest tools and techniques to uncover consumer demand and preferences in high-volume markets, we help to bridge the gap between manufacturers, vendors, and consumers. At Donco Distributing, LLC it is our goal to provide tangible product solutions to the end user through data-driven market research.</p>
      <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img src="./images/icons/product_sourcing.png" alt="Product Sourcing" height="140" width="140"/>
      <h2>Product Sourcing</h2>
      <p>We are able to provide our customers with quality products at competitive prices because of the strong relationships we have with our trusted suppliers. At Donco Distributing, LLC you can expect our products to have passed multiple pre-and-post production inspections that satisfy the highest safety and quality standards before they reach the consumer. </p>
      <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img src="./images/icons/customer_service.png" alt="Customer Service" height="140" width="140"/>
      <h2>Customer Service</h2>
      <p>Our customer service model follows four core principles that guide how we operate every day. At Donco Distributing, LLC we are Accountable for the quality and safety of our products; We are Accessible to our customers and vendors (you will never be directed to automated service channels, it’s always a real person servicing your needs); We aim to satisfy our customers Fast, and we are Transparent in providing explanations and solutions.</p>
      <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->


  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Analytics</h2>
      <p class="lead">Success at Donco Distributing, LLC is directly related to the rigorous consumer and market analytics we perform every day. We make swift considerations on which markets to enter and which customers to service objectively, based on data yielded from the most up-to-date market analytics software and techniques. This gives use a competitive edge in forecasting:</p>
      <ul class="lead">
        <li>Market volume &amp; opportunity (current and future)</li>
        <li>Potential for market segmentation</li>
        <li>Industry cost structure</li>
        <li>Market trends</li>
        <li>Market profitability</li>
      </ul>
    </div>
    <div class="col-md-5">
      <img src="./images/features/analytics.jpg" width="100%" alt="Analytics" />
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Vendor Partnership</h2>
      <p class="lead">When partnering with vendors to help us meet our goals and provide products to our customers, our #1 concern is that they meet our strict standards for quality and safety – but that’s not our only concern. At Donco Distributing, LLC we cultivate strong relationships with vendors whose organizational goals, vision, and culture also match our own. We care for the interests of our business partners as much as we care for our own and seeking to build mutually beneficial relationships is how we will both succeed. When considering these relationships, we follow these simple guidelines:</p>
      <ul class="lead">
        <li>Open communication</li>
        <li>Flexibility</li>
        <li>Trust</li>
        <li>Mutually beneficial agreements</li>
      </ul>
    </div>
    <div class="col-md-5 order-md-1">
      <img src="./images/features/vendor.jpg" width="100%" alt="Vendor Partnership" />
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">eCommerce</h2>
      <p class="lead">To be successful in the rapidly-growing eCommerce marketplace, we are focused on differentiating ourselves from the competition. Donco Distributing, LLC is able to do this by providing our customers with user-friendly interfaces, high-quality varied product images and descriptions, secure and reliable payment gateways, and excellent customer service. We also aim to minimize customer acquisition cost by calculating ROI for each channel. This allows us to optimize the allocation of our marketing budgets based on business objectives. We achieved these efficiency’s by:</p>
      <ul class="lead">
        <li>Selecting each eCommerce platform we work with based on objective data</li>
        <li>Driving sales velocity and relevance through SEO</li>
        <li>Leveraging multi-channel marketing across each eCommerce platform</li>
        <li>Increasing conversion rates and customer retention through loyalty programs</li>
      </ul>
    </div>
    <div class="col-md-5">
      <img src="./images/features/ecommerce.jpg" width="100%" alt="eCommerce" />
    </div>
  </div>

  <hr class="featurette-divider">

  <!-- /END THE FEATURETTES -->

</div><!-- /.container -->
